subject = "{{ 'Your e-Voucher' }} [#{{ order.order_no }}]"
==

==
<h2>
    {{ 'Your e-voucher list' }}
</h2>
<p>
    Hi {{ order.name }},
</p>
<p>
    {{ 'Thank you for your purchase, here are your e-voucher list.' }}
</p>
<table class="table-information-order">
    <tr>
        <td>
            <div class="information-head">
                {{ 'Order No' }}
            </div>
            <div class="information-body info-order">
                {{ order.order_no }}
            </div>
        </td>
        <td>
            <div class="information-head">
                {{ 'Total' }}
            </div>
            <div class="information-body">
                {{ order.total|currency({format: 'short'}) }}
            </div>
        </td>
        <td>
            <div class="information-head">
                {{ 'Status' }}
            </div>
            <div class="information-body info-status">
                <span class="text-warning">
                    {{ order.status.name }}
                </span>
            </div>
        </td>
    </tr>
</table>

<table class="table-summary">
    <thead>
        <tr>
            <th>
                {{ 'Product' }}
            </th>
            <th>
                {{ 'e-Voucher' }}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>
                {{ product.name }}
            </td>
            <td>
                {{  product.pivot.data['evouchers'][product.sku]|join(', ') }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
