subject = "{{ 'Your Order'|_ }} [#{{ order.order_no }}]"
==

==
{% set invoice = order.invoices.first() %}
<h2>
    {{ 'Your Order'|_ }}
</h2>
<p>
    {{ 'Hi, :name'|_({name: order.name}) }}
</p>
<p>
    {{ 'Thank you for your purchase, here is your order details.'|_ }}
</p>
<table class="table-information-order">
    <tr>
        <td>
            <div class="information-head">
                {{ 'Order No'|_ }}
            </div>
            <div class="information-body info-order">
                {{ order.order_no }}
            </div>
        </td>
        <td>
            <div class="information-head">
                {{ 'Total'|_ }}
            </div>
            <div class="information-body">
                {{ order.total|currency }}
            </div>
        </td>
        <td>
            <div class="information-head">
                {{ 'Status'|_ }}
            </div>
            <div class="information-body info-status">
                <span class="text-warning">
                    {{ order.status.name }}
                </span>
            </div>
        </td>
    </tr>
</table>

<table class="table-summary">
    <thead>
        <tr>
            <th>
                {{ 'Product'|_ }}
            </th>
            <th>
                {{ 'Price'|_ }}
            </th>
            <th>
                {{ 'Subtotal'|_ }}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for product in order.products %}
        <tr>
            <td>
                {{ product.pivot.qty }} x {{ product.pivot.name }}
            </td>
            <td>
                {{ product.pivot.price|currency }}
            </td>
            <td>
                {{ (product.pivot.qty * product.pivot.price)|currency }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">{{ 'Subtotal'|_ }}</td>
            <td class="text-right"><b>{{ order.subtotal|currency }}</b></td>
        </tr>
        <tr>
            <td colspan="2">{{ 'Shipping Cost'|_ }}</td>
            <td class="text-right text-success">{{ 'FREE'|_ }}</td>
        </tr>
        {% if order.discount > 0 %}
        <tr>
            <td colspan="2">{{ 'Discount'|_ }}</td>
            <td class="text-right">-{{ order.discount|currency }}</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2"><b>{{ 'Total'|_ }}</b></td>
            <td class="text-right"><b>{{ order.total|currency }}</b></td>
        </tr>
    </tfoot>
</table>
<table class="table-information-shipping">
    <tr>
        <td>
            <div class="muted">
                {{ 'Shipping Address'|_ }}
            </div>
            <div class="shipping-content">
                <b>
                    {{ order.shipping_name }}
                </b>
                <br/>
                {{ order.shipping_address }}
                <br>
                    {{ order.shipping_city.name }}, {{ order.shipping_state.name }} {{ order.shipping_postcode }}
                </br>
            </div>
        </td>
        <td>
            <a href="{{ invoice.url }}" class="button button-primary">{{ 'Pay Now'|_ }}</a>
        </td>
    </tr>
</table>


