subject = "{{ 'Your Order Has Been Shipped'|_ }} [#{{ order.order_no }}]"
==

==
{% set invoice = order.invoices.first() %}
<h2>
    {{ 'Your Order Has Been Shipped'|_ }}
</h2>
<p>
    {{ 'Hi, :name'|_({name: order.name}) }}
</p>
<p>
    {{ 'We\'ve shipped your order #:order_no to your address:.'|_({order_no: order.order_no}) }}
</p>
<p>
    {{ order.shipping_address }}
</p>

{% if statusLog.status_code == 'shipped' and (statusLog.note is not empty) %}
<p>
	Your shipping tracking code: {{ statusLog.note }}
</p>
{% endif %}