<form data-request="{{ __SELF__ ~ '::onSubmit' }}" data-request-flash>
	<div class="row">
		<div class="col-md-8 col-sm-6">
			<div class="page-header">
				<div class="h3">Your Information</div>
			</div>

			{% if user %}

    		<div class="row">
				<div class="col-md-6">
					<div class="well">
						<h4>
							{{ user.name }}<br>
							<small><i class="fa fa-envelope fa-fw"></i> {{ user.email }}</small><br>
						</h4>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group is-required">
						<label for="phone">Phone</label>
						<input type="tel" id="phone" name="phone" value="{{ user.phone ?: null }}" class="form-control" required>
					</div>
				</div>
			</div>
			{% else %}

			<div class="row">
				<div class="col-sm-12 col-md-6 col-md-push-6">
				</div>

				<div class="col-sm-12 col-md-6 col-md-pull-6">
					<div class="form-group is-required">
						<label for="name">Name</label>
						<input type="text" id="name" name="name" class="form-control" required>
					</div>

					<div class="form-group is-required">
						<label for="email">Email</label>
						<input type="email" id="email" name="email" class="form-control" required>
					</div>

					<div class="form-group is-required">
						<label for="phone">Phone</label>
						<input type="tel" id="phone" name="phone" value="{{ user.phone }}" class="form-control" required>
					</div>
				</div>
			</div>
			{% endif %}

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group is-required">
						<label for="address">Address</label>
						<textarea cols="30" id="address" name="address" class="form-control" required> {{ user.address }} </textarea>
					</div>

					<div class="row">
						{% if __SELF__.states|length %}
						<div class="col-md-4 col-sm-12">
							{% partial __SELF__ ~ '::statepicker' states=__SELF__.states citySelectTarget='#citySelectForm' %}
						</div>
						{% endif %}

						{% if __SELF__.states|length %}
						<div class="col-md-4 col-sm-12" id="citySelectForm">
							{% partial __SELF__ ~ '::citypicker' cities=__SELF__.cities %}
						</div>
						{% endif %}

						<div class="col-md-4 col-sm-12">
							<div class="form-group">
								<label for="">Postal Code</label>
								<input type="text" name="postcode" value="{{ user.postcode ?: null }}" class="form-control">
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<label>
							<input name="is_same_address" type="checkbox" checked>
							Send to same address above.
						</label>
					</div>
				</div>
			</div>

			<div id="shippingAddressForm" style="display: none">
				<div class="page-header">
					<div class="h3">Shipping Address</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="">Receiver Name</label>
							<input type="text" name="shipping_name" class="form-control">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="">Phone</label>
							<input type="tel" name="shipping_phone" class="form-control">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="">Address</label>
					<textarea cols="30" name="shipping_address" class="form-control"></textarea>
				</div>

				<div class="row">
					{% if __SELF__.states|length %}
					<div class="col-md-4 col-sm-12">
						{% partial __SELF__ ~ '::statepicker' states=__SELF__.states citySelectTarget='#shippingCitySelectForm' name='shipping_state_id' is_shipping=true %}
					</div>
					{% endif %}

					{% if __SELF__.states|length %}
					<div class="col-md-4 col-sm-12" id="shippingCitySelectForm">
						{% partial __SELF__ ~ '::citypicker' cities=__SELF__.cities is_shipping=true %}
					</div>
					{% endif %}

					<div class="col-md-4 col-sm-12">
						<div class="form-group">
							<label for="">Postal Code</label>
							<input type="text" name="shipping_postcode" class="form-control">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-sm-6">
			<div class="panel panel-summary panel-default">
				<div class="panel-heading">
					<div class="h4">Summary</div>
				</div>

				<div class="panel-body">
					<table class="table">
						<tbody>
							{% for product in cart.cart.products %}
							<tr>
								<td>
									<strong>{{ product.name }}</strong><br>
									<small>{{ product.pivot.qty }} x {{ product.pivot.price }}</small>
								</td>
								<td align="right" class="text-right">{{ (product.pivot.qty * product.pivot.price)|currency({format: 'short'}) }}</td>
							</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<th align="right" class="text-right">{{ cart.cart.total_price|currency({format: 'short'}) }}</th>
							</tr>
						</tfoot>
					</table>
				</div>

				<div class="panel-footer">
					<div class="form-group">
						<button class="btn btn-block btn-lg btn-primary" data-attach-loading>Continue to Payment</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>