<div class="panel panel-summary panel-default">
	<div class="panel-heading">
		<div class="h4">Summary</div>
	</div>

	<div class="panel-body">
		<table class="table">
			<tbody>
				{% for product in cart.products %}
				<tr>
					<td>
						<strong>{{ product.name }}</strong><br>
						<small>
							{{ product.pivot.qty }} x

							{% if product.pivot.discount > 0 %}
								<strike>{{ product.pivot.price|currency({format: 'short'}) }}</strike>
								{{ (product.pivot.price - product.pivot.discount)|currency({format: 'short'}) }}
							{% else %}
								{{ product.pivot.price|currency({format: 'short'}) }}
							{% endif %}
						</small>
					</td>
					<td align="right" class="text-right">
						{{ (product.pivot.qty * (product.pivot.price - product.pivot.discount))|currency({format: 'short'}) }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				{% if cart.discount > 0 %}
				<tr>
					<th>Subtotal</th>
					<th align="right" class="text-right">{{ cart.subtotal|currency({format: 'short'}) }}</th>
				</tr>
				<tr>
					<th>Discount</th>
					<th align="right" class="text-right text-success">{{ (-cart.discount)|currency({format: 'short'}) }}</th>
				</tr>
				{% endif %}
				<tr>
					<th>Total</th>
					<th align="right" class="text-right">{{ cart.total_price|currency({format: 'short'}) }}</th>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="panel-footer">
		<div class="form-group">
			<button type="submit" class="btn btn-block btn-lg btn-primary" data-attach-loading>Continue to Payment</button>
		</div>
	</div>
</div>
