<div class="panel panel-summary panel-default">
	<div class="panel-heading">
		<div class="h4">Summary</div>
	</div>

	<div class="panel-body">
		<table class="table">
			<tbody>
				{% for product in cart.cart.products %}
				<tr>
					<td>
						<strong>{{ product.name }}</strong><br>
						<small>{{ product.pivot.qty }} x {{ product.pivot.price }}</small>
					</td>
					<td align="right" class="text-right">{{ (product.pivot.qty * product.pivot.price)|currency({format: 'short'}) }}</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>Total</th>
					<th align="right" class="text-right">{{ cart.cart.total_price|currency({format: 'short'}) }}</th>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="panel-footer">
		<div class="form-group">
			<button class="btn btn-block btn-lg btn-primary" data-attach-loading>Continue to Payment</button>
		</div>
	</div>
</div>